@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');    
    body {
        margin: 0;
        overflow: hidden;
        font-family: 'Lora', serif;
    }

    .control-panel {
        background-color: rgb(255, 255, 255);
        display: block;

    }
    
    .background-select {
        float: right;
        padding: 5px;
        width: fit-content;
        font-weight: bold;
    }
    
    #leaves-counter {
        float: left;
        margin-left: 10px;
        margin-top: 1px;
    }

    #leaves-counter #removed-leaves-value {
        padding: 0px 2px;
        font-size: 25px;
        font-weight: bold;
    }

    #indicator {
        position: relative;
        float: right;
        margin-right: 100px;
        margin-top: 6px;
        width: fit-content;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
    }
    
    #indicator #indicator-bg {
        background: linear-gradient(to right, #b1ffa8, #1a830f);
        width: 350px;
        height: 18px;
        border-radius: 15px;
        clip-path: inset(0px 350px 0px 0px);
        transition: all .3s ease;
    }
    
    #indicator #max-marker {
        position: absolute;
        top: -3px;
        left: 7px;
        border: 5px solid transparent;
        border-top: 8px solid rgb(0, 0, 0);
        width: 0;
        height: 0;
        transition: all .3s ease;
    }

    .bg-miniature {
        margin: 2px;
        border-radius: 6px;
    }

    .bg-miniature:hover {
        border: 2px solid black;
        border-radius: 6px;
        margin: 0px;
    }

    .menu {
        z-index: 999999;
        margin: 0px;
        padding: 0px;
        float: left;
    }
    
    .menu li {
        display: inline-block;
        position: relative;
    }
    
    .menu li.dropdown:hover>.submenu {
        display: block;
    }
    
    .menu li a {
        display: block;
        font-size: 17px;
        padding: 5px 8px;
        height: 24px;
        width: 260px;
        background: #74E868;
    }
    
    .menu li a:hover {
        color: #FFF;
        background: #329027;
    }
    
    .menu .submenu {
        display: none;
    }
    
    .submenu {
        margin: 0px;
        padding: 0px;
        position: absolute;
        left: 0px;
        list-style-type: none;
        display: block;
        z-index: 9;
    }
    
    .submenu li {
        display: block;
    }
    
    .submenu li a {
        display: block;
        background: #999;
        color: #fff;
        padding: 8px 6px;
        margin-bottom: 1px;
    }
    
    .menu .submenu>li.dropdown:hover>.submenu {
        display: block;
    }
    
    .accordion {
        font-size: 14px;
        width: max-content;
        padding: 0px;
        background: #fff;
        border-radius: 6px;
    }
    
    .accordion ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .accordion li {
        margin: 0;
        padding: 0;
    }
    
    .accordion [type=radio],
    .accordion [type=checkbox] {
        display: none;
    }
    
    .accordion label {
        display: block;
        font-size: 16px;
        line-height: 16px;
        background: #74E868;
        border: 1px solid #7c7c7c;
        color: #000000;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
        cursor: pointer;
        text-transform: uppercase;
    }
    
    .accordion ul li label:hover,
    .accordion [type=radio]:checked~label,
    .accordion [type=checkbox]:checked~label {
        background: #329027;
        color: #FFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
    }
    
    .accordion .content {
        margin: 4px;
        overflow: hidden;
    }
    
    .vertical ul li {
        overflow: hidden;
    }
    
    .vertical ul li label {
        padding: 10px;
    }
    
    .vertical ul li label:hover {
        border: 1px solid #555555;
    }
    
    .vertical ul li .content {
        height: 0px;
        border-top: 0;
        transition: all .3s ease-in-out;
    }
    
    .vertical [type=checkbox]:checked~label~.content {
        height: 235px;
    }